# .gitignore for MACCS Space Data Python code.
#
# 2020  May  -- Created  -- Erik Steinmetz
#

# Byte-compiled
__pycache__/

# Sample input files in various MACCS formats
*.2Hz
*.2hz
*.8Hz
*.8Hz
*.s2

# Any jar files, in this case MaccsProcess.jar
*.jar

# macOS windowing placement information
*.DS_Store
